
/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*----------------------------------------------
  ------------------------------------------------
  1. Universal Styles
  ------------------------------------------------
  ----------------------------------------------*/
  /*----------------------------------------------
  ------------------------------------------------
  2. Header & Nav Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  3. Main Body Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  4. Sidebar Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  5. Widget Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  6. Footer Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  7. Comments & Form Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  8. Generic Styles
  ------------------------------------------------
  ----------------------------------------------*/

.image-cover {
    width: 100vw; /* Set width to cover the entire viewport */
    height: 100vh; /* Set height to cover the entire viewport */
    background-size: cover; /* Cover the container with the background image */
    background-position: center; /* Center the background image */
    overflow: hidden; /* Hide any overflow beyond the viewport */
  }