
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 

.image-cover {
    width: 100vw; /* Set width to cover the entire viewport */
    height: 100vh; /* Set height to cover the entire viewport */
    background-size: cover; /* Cover the container with the background image */
    background-position: center; /* Center the background image */
    overflow: hidden; /* Hide any overflow beyond the viewport */
  }